/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1 {
  text-align: center;
}


.container{
  position: relative;
  top:60px;
  margin: 15px; 
 }

 .title{
  text-align: center;
  margin-bottom: 30px;
}


.row{
  width: 100%;
}


.item1,.item2,.item3{
    float: left;
    padding: 10px;
}




.text {
  background-color: #ADADAD;
  padding: 0 20px;
  color: #000;
  border: 1px solid #000;
}


 #title_id_1 {

  background-color: #EABBC1;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  margin-top: 0px;
  width: 120px;
  height: 30px;
  float: right;
  font-weight: bold;
  padding-top: 5px;
} 

#title_id_2{
  background-color: #C14543;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  margin-top: 0px;
  width: 120px;
  height: 30px;
  float: right;
  font-weight: bold;
  padding-top: 5px;
}

#title_id_3{
  background-color: #E5D198;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  margin-top: 0px;
  width: 120px;
  height: 30px;
  float: right;
  font-weight: bold;
  padding-top: 5px;
}



/* Simple Responsive Framework. */


/********** DESKTOP devices only **********/
@media only screen and (min-width: 992px) {
.item1,.item2,.item3 {
      display: inline-block;
      width: 33%;
  }
}

/********** TABLET devices only **********/
@media only screen and (min-width:768px) and (max-width: 991px) {
  .item1,.item2,.item3{
      display: inline-block;
  }
  .item1,.item2 {
      width: 50%;
  }
  .item3  {
      width: 100%;
  }
}

/********** MOBILE devices only **********/

@media only screen and (max-width: 767px) {
  .item1,.item2,.item3 {
      display: inline-block;
      width: 100%;
  }
}